.DS_Store
__pycache__/
*.egg-info/

ibnot_cli/build/
ibnot_cli/build-*/
ibnot_cli/CMakeCache.txt
ibnot_cli/CMakeFiles/
ibnot_cli/Testing/
ibnot_cli/cmake_install.cmake
ibnot_cli/compile_commands.json

.conda/

*.pyc

python/.venv/
python/build/
python/dist/
python/.pytest_cache/
python/notebooks/_generated/
.ipynb_checkpoints/
